<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/40f4db42-30bf-4e61-9802-35f757f0b800/resourceGroups/FlightFinderAPIResource/providers/Microsoft.Web/sites/FlightFinderAPI</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://flightfinderapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>flightfinderapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FlightFinderAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FlightFinderAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>